body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
  min-width: 900px;
  background-color: #849d8f;
}

.wrapper {
  /*min-width: 900px;*/
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;

}

.container {
  /*position: relative;*/
  width: 860px;
  padding: 0 20px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  font-family: "Roboto", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  background-image: linear-gradient(#f26843,#e74b36);
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border: 0;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 #9e4334;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.btn:hover {
  background-image: linear-gradient(#f58669,#ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
  color: #fff;
}

.btn:active {
  background-image: linear-gradient(#d74632,#e1613e);
  box-shadow: inset 0 3px 3px 0 #952718;
  color: #fff;
}

.main-header {
  padding: 0px;
  padding-top: 9px;
  margin: 0px;
}

.logo,
.index-logo {
  float: left;
  width: 154px;
  height: 64px;
  padding: 0px;
  margin: 0px;
  margin-left: -6px;
  margin-right: 16px;
}

.index-logo {
  display: block;
}

.logo img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.main-nav {
  float: left;
  order: 2;
  width: auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-nav__item {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  vertical-align: middle;
}

.main-nav__link {
  display: block;
  color: #fff;
  padding: 7px 14px;
  margin: 13px 0px;
  margin-bottom: 19px;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
}

.main-nav span {
  display: block;
  height: 1px;
  background-color: rgba(255,255,255,0.4);
  width: 100%;
  /*border-bottom: 1px solid rgba(255,255,255,0.4);*/
}

.main-nav__link:hover {
  color: #000;
  background-color: #f8f7f4;
}

.main-nav__link:active {
  box-shadow: inset 0 2px 3px 0 #696969;
}

.main-nav__link:hover span,
.main-nav__link:active span {
  border-bottom: none;
}

.main-nav__item .current {
  background-color: #d07058;
  border-bottom: none;
  /*cursor: default;*/
}

.main-nav__item .current:hover {
  color: #fff;
  background-color: #d07058;
}

.main-nav__item .current:active  {
  box-shadow: inset 0 0 0 0;
}

.sub-menu {
  display: none;
  position: absolute;
  width: 128px;
  top: 50px;
  left: -7px;
  /*height: 170px;*/
  list-style: none;
  padding: 5px 0px;
  padding-left: 6px;
  padding-right: 9px;
  margin: 0px;
  background-color: #f8f7f4;
  z-index: 300;
  border-radius: 10px;
}

.main-nav__item:hover .sub-menu {
  display: block;
}

.sub-menu__item {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  margin-bottom: 3px;
}

.sub-menu__link {
  display: block;
  padding: 6px 15px;
  padding-right: 0px;
  margin: 0px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.sub-menu__item:nth-of-type(1) .sub-menu__link {
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
  padding-bottom: 11px;
}

.sub-menu__link:hover {
  background-color: #fbded7;
}

.sub-menu__link:active {
  background-color: #f6b5a5;
}

.sub-menu__link .active-link {
  background-color: #d07058;
}

.user-block {
  float: right;
}

.user-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.user-block__item {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: middle;
  margin-left: 10px;
}

.user-block__item a {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 0px;
  padding-left: 45px;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.2);
}

.user-block__item .search {
  min-height: 16px;
  width: 32px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.find {
  display: none;
  position: absolute;
  z-index: 200;
  top: 50px;
  right: 0px;
  width: 310px;
  height: 44px;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 20px 15px;
  margin: 0px;
}

.user-block__item:hover .find {
  display: block;
}

input[type="search"] {
  width: 100%;
  padding: 9px 14px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
  background-color: #fff;
  color: #323232;
  outline: none;
}

.user-block .login {
  padding-right: 16px;
}

.user-block .cart {
  padding-right: 34px;
}

.user-block__item a:hover {
  color: #000;
  background-color: #f8f7f4;
}

.user-block__item a:active {
  box-shadow: inset 0 2px 3px 0 #696969;
}

.search::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -236px -72px;
}

.search:hover::before {
  background-position: -236px -113px;
}

.login::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  width: 21px;
  height: 19px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -180px -141px;
}

.login:hover::before {
  background-position: -85px -184px;
}

.login-block {
  display: none;
  position: absolute;
  width: 241px;
  top: 50px;
  right: 0px;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  padding-bottom: 22px;
  z-index: 200;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.login-block form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login-block input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  font-family: "Roboto", "Arial", sans-serif;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  width: 100%;
  padding: 9px 14px;
  margin: 0px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.info-inner {
  padding: 0px;
  margin: 0px;
}

.info-inner a {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  padding: 3px 0px;
  margin: 0px;
  text-decoration: underline;
}

.info-inner a:hover {
  color: #ffbc9e;
}

.login-block .btn {
  padding: 10px 24px;
}

.user-block__item:hover .login-block {
  display: block;
}

.cart::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -57px -12px;
}

.cart:hover::before {
  background-position: -12px -12px;
}

.cart-full::before {
  background-position: ; //* добавить в справйт корзину с красным фоном*//
}

.booking {
  display: none;
  position: absolute;
  top: 50px;
  right: 0px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  width: 510px;
  padding-top: 16px;
  padding-left: 18px;
  padding-right: 12px;
  padding-bottom: 12px;
  margin: 0px;
  background-color: #f8f7f4;
  border-radius: 10px;
  color: #333333;
  z-index: 200;
}

.user-block__item:hover .booking {
  display: block;
}

.booking__table {
  float: right;
  width: 510px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
}

tr {
  display: table-row;
  height: 33px;
}

.booking__cancel {
  position: relative;
  width: 25px;
}

.booking__cancel::before,
.booking__cancel::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 5px;
  width: 1px;
  height: 14px;
  background-color: #686867;
  cursor: pointer;
}

.booking__cancel::before {
  transform: rotate(45deg);
}

.booking__cancel::after  {
  transform: rotate(-45deg);
}

.booking__picture {
  width: 33px;
  height: 33px;
}

tr:nth-of-type(1) .booking__picture {
  background-image: url("../img/ice-1.png");
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

tr:nth-of-type(2) .booking__picture {
  background-image: url("../img/ice-2.png");
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

.booking__description {
  width: 230px;
  padding: 18px 14px;
}

.booking__price span {
  color: #999;
}

.last-row {
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  padding: 15px 0px;
  border-top: 1px solid #cacac7;
}

.booking .booking__btn {
  float: right;
  width: 142px;
  padding: 10px 15px;
  margin: 0px;
  border-radius: 100px;
}

.booking  .booking__btn:hover {
  color: #fff;
}

.slide-btn {
  font-size: 32px;
  line-height: 44px;
  padding: 11px 41px;
}

.slider {
  position: relative;
  padding: 0px;
  padding-top: 270px; //*под вопросом*//
  margin: 0px;
  margin-bottom: 38px;
  text-align: center;
  /*height: 535px;*/
}

input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
  padding: 0px;
  margin: 0px;
}

.slide-title {
  width: 700px;
  padding: 0px;
  padding-top: 52px;
  padding-bottom: 27px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

#btn-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .wrapper #slide1,
#btn-2:checked ~ .wrapper #slide2,
#btn-3:checked ~ .wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .wrapper label[for="btn-1"],
#btn-2:checked ~ .wrapper label[for="btn-2"],
#btn-3:checked ~ .wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1 ~ .wrapper label[for="btn-1"]:hover,
#btn-2 ~ .wrapper label[for="btn-2"]:hover,
#btn-3 ~ .wrapper label[for="btn-3"]:hover {
  background-color: rgba(255,255,255,0.4);
}

#btn-1:checked ~ .wrapper label[for="btn-1"]:hover,
#btn-2:checked ~ .wrapper label[for="btn-2"]:hover,
#btn-3:checked ~ .wrapper label[for="btn-3"]:hover {
  background-color: rgba(255,255,255,1);
}

.timetable {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.timetable span {
  font-size: 22px;
  line-height: 24px;
}

.advantages {
  margin: 0;
  /*margin-top: 38px;*/
  margin-bottom: 25px;
  padding: 0;
}

.advantages-left {
  float: left;
  width: 380px;
  font-size: 0px;
  margin-right: 20px;
  padding: 20px;
  padding-bottom: 24px;
  text-align: right;
  background: url("../img/raspberry.jpg") no-repeat;
  border-radius: 20px;
}

.advantages-right {
  float: right;
  width: 380px;
  font-size: 0px;
  padding: 20px;
  padding-bottom: 24px;
  margin: 0px;
  text-align: right;
  background: url("../img/choko.jpg") no-repeat;
  border-radius: 20px;
}

.advantages__title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  margin-bottom: 12px;
  text-align: left;
}

.advantages__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  margin-bottom: 22px;
  text-align: left;
}

.bestseller {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: space-between;
  /*text-align: top;*/
  margin-bottom: 30px;
}

.card {
  position: relative;
  width: 200px;
  margin: 0px;
  padding: 10px 0;
  /*padding-bottom: 13px;*/
  text-align: left;
}

.bestseller .card::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;
  width: 60px;
  height: 60px;
  background: url("../img/hit.jpg") no-repeat;
  border-radius: 50%;
}

.card__image {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}

.card__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  margin-top: -60px;
  margin-bottom: 15px;
}

.card__price span {
  display: inline-block;
  width: 31px;
  height: 36px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -218px -9px;
  margin: 0px 3px;
}

.card__description {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding: 0px 5px;
  padding-top: 12px;
  margin: 0px;
  text-decoration: underline;
}

.btn-inner {
  display: none;
  position: absolute;
  font-size: 0px;
  top: 0px;
  left: -10px;
  width: 220px;
  min-height: 60px;
  background-color: rgba(255,255,255,0.3);
  padding: 0px;
  padding-top: 305px;
  margin: 0px;
  border-radius: 10px;
  text-align: center;
  z-index: 200;
}

.card:hover .btn-inner {
  display: block;
}

.card:hover .card__description {
  text-decoration: none;
}

.features {
  padding: 25px 20px;
  color: #323232;
  background: #f0e4ce url("../img/pattern.jpg");
  border-radius: 20px;
  /*margin-top: 27px;*/
  margin-bottom: 40px;
}

.features__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 820px;
  columns: 2;
  column-width: 345px;
}

.features__item {
  display: inline-block;
  position: relative;
  min-height: 110px;
  /*width: 350px;*/
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 0px;
  padding-left: 56px;
  margin: 0px;
  margin-top: 20px;
  vertical-align: top;
  /*margin-right: 20px;*/
}

.features__item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 49px;
  height: 49px;
  background-color: transparent;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.ice-cream::before {
  background-position: -107px -85px;
}

.leaf::before {
  background-position: -12px -158px;
}

.cow::before {
  background-position: -146px -12px;
}

.term::before {
  background-position: -130px -184px;
}

.news {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.news__left {
  float: left;
  min-height: 180px;
  width: 370px;
  padding: 20px 25px;
  margin: 0px;
  margin-right: 20px;
  border-radius: 15px;
  background-image: url("../img/bg-strawberry.jpg");
}

.news__right {
  float: left;
  min-height: 180px;
  padding: 6px;
  margin: 0px;
  border-radius: 15px;
  background: url("../img/post.jpg") 50% 50%;
}

.news__right .news__content {
  min-height: 150px;
  width: 370px;
  border-radius: 15px;
  background-color: #fff;
  padding: 27px 19px;
  padding-bottom: 31px;
}

.news p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #5a5a5a;
}

.mailing-form {
  width: 370px;
}

.news .mailing {
  font-weight: 500;
}

.last-added {
  padding: 0px;
  margin: 0px;
}

.last-added a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #353535;
  text-decoration: underline;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
}

.news__right input[type="email"] {
  width: 199px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  border: 1px solid #d3d3d2;
  padding: 9px 14px;
  margin: 0px;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
}

.catalog-page {
  background-image: linear-gradient(#9db1a5,#849d8f);
}

.catalog-title {
  padding: 26px 0px;
  margin: 0px;
}

.catalog-title h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.breadcrumbs {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}

.breadcrumbs-item {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  margin-right: 20px;
  vertical-align: top;
}

.breadcrumbs-item a {
  display: block;

  color: #fff;
  padding: 0px;
  margin: 0px;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:active {
  color: #ffbc9e;
}

.breadcrumbs-current a {
  cursor: default;
  text-decoration: none;
}

.breadcrumbs-current a:hover,
.breadcrumbs-current a:active {
  color: #fff;
}

.form-filter {
  width: 860px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.form-title {
  color: #fff;
  outline: none;
  padding: 0px;
  margin: 0px;
  margin-left: 15px;
  margin-bottom: 7px;
}

fieldset {
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
  border: none;
}

.sorting {
  width: 192px;
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
  padding: 9px 15px;
  margin: 0px;
  border: none;
  outline: none;
}

.sorting:hover {
  color: #000;
  background-color: #fff;
}

.sorting-item {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

.range-controls {
  width: 188px;
  position: relative;
  height: 20px;
  padding-top: 16px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
}

.range-controls .scale {
  height: 4px;
  background: rgba(255,255,255,0.5);
}

.range-controls .bar {
  width: 53%;
  height: 4px;
  margin-left: 28px;
  background: rgba(255,255,255,1);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255,255,255,1);
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  right: 65px;
}

.fieldset-inner {
  padding: 9px 14px;
  margin: 0px;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
  padding: 0px;
  margin: 0px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  padding: 0px;
  padding-left: 30px;
  margin: 0px;
  margin-right: 20px;
  cursor: pointer;
}

input[type="radio"] + label:last-child,
input[type="checkbox"] + label:last-child {
  margin-right: 0px;
}

input[type="radio"] + label::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #fff;
}

input[type="radio"]:checked + label::after {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

input[type="checkbox"] + label::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 18px;
  height: 18px;
  border-radius: 20%;
  border: 1px solid #fff;
}

input[type="checkbox"]:checked + label::after {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png");
  background-position: -102px -12px;
}

input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
  box-shadow: inset 0 0 0 1px #fff;
}

input[type="radio"] + label:active::before,
input[type="checkbox"] + label:active::before {
  box-shadow: 0 0 0 0 #fff;
  border: 1px solid rgba(255,255,255,0.4);
}

.filter-btn {
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  width: 144px;
  height: 36px;
  padding: 9px 16px;
  margin: 0px;
  margin-top: 23px;
  margin-bottom: 15px;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  background-color: rgba(255,255,255,0.2);
}

.filter-btn:hover {
  background-color: #fff;
  color: #000;
  border: none;
}

.btn:active {
  color: #000;
  box-shadow: inset 0 2px 3px 0 #696969;
}

.card-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

.card-layout .card {
  margin-bottom: 17px;
}

.card-active .btn-inner {
  display: block;
  text-decpration: none;
}

.card-active .card__description {
  text-decoration: none;
}

.btn-pages {
  position: relative;
  list-style: none;
  font-size: 0px;
  min-width: 146px;
  padding: 0 22px;
  margin: 0px;
  margin-top: 72px;
  margin-left: auto;
}

.btn-pages__item {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
  /*text-align: center;*/
}

.btn-pages__link {
  display: block;
  padding: 4px 8px;
  margin: 0px 2px;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn-pages__link:hover {
  background-color: rgba(255,255,255,0.2);
}

.btn-pages__link:active {
  background-color: #fff;
  color: #000;
}

.btn-pages__item--active {
  display: block;
  padding: 4px 8px;
  margin: 0px 2px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
}

.btn-pages::before,
.btn-pages::after {
  content: "";
  position: absolute;
  top: 5px;
  width: 9px;
  height: 14px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -30px -230px;
}

.btn-pages::before {
  left: 0px;
  opacity: 0.2;
  transform: rotate(180deg);
}

.btn-pages::after {
  top: 6px;
  right: 0px;
  cursor: pointer;
}

.main-footer {
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
}

.map {
  position: relative;
  width: 900px;
  height: 430px;
  padding: 0;
  margin: 0px auto;
  background: url("../img/map.jpg") no-repeat;
}

.contact {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  padding: 30px 25px;
  margin: 0px;
}

.contact p {
  width: 225px;
  padding: 0px;
  margin: 0px;
}

.contact span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact__adress {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

.contact__phone {
  padding: 0px;
  margin: 0px;
}

.contact .btn {
  padding-right: 24px;
  padding-left: 30px;
  margin-top: 27px;
}

.main-footer .container {
  padding: 20px 20px;
  border-top: 1px solid rgba(255,255,255,0.3);
}

.footer-social {
  float: left;
  font-size: 0px;
  width: 200px;
  padding: 0px;
  padding-top: 15px;
  padding-botoom: 7px;
  margin: 0px;
  margin-right: 55px;
  text-align: left;
}

.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.5);
  /*background-color: rgba(255,255,255,0.8);*/
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-btn:hover {
  border: 3px solid rgba(255,255,255,0.7);
  opacity: 1;
}

.social-btn:active {
  border: 3px solid rgba(255,255,255,0.7);
  box-shadow: inset  0 3px 3px 0 #9b9b9b; //*НЕ РАБОТАЕТ*//
}

.social-btn-tw {
  width: 33px;
  background-position: -225px -154px;
}

.social-btn-insta {
  background-position: -180px -85px;
}

.social-btn-fb {
  background-position: -12px -85px;
}

.social-btn-vk {
  background-position: -202px -210px;
}

.footer-providers {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  padding: 15px 0px;
  padding-bottom: 8px;
  /*padding-right: 40px;*/
  margin: 0px;
  /*margin-right: 20px;*/
}

.footer-providers a:hover {
  color: #ffbc9e;
}

/*.left-field,
.right-field {
  display: inline-block;
  padding: 0px;
  padding-top: 16px;
  padding-left: 22px;
  padding-bottom: 8px;
  margin: 0px;
  vertical-align: middle;
}

.left-field {
  width: 120px;
}

.right-field {
  min-width: 180px;
}

.left-field a,
.right-field a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
}*/

.footer-providers a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  padding: 0px;
  padding-left: 22px;
}

.footer-providers .providers {
  position: relative;
  font-weight: 700;
}

.providers::before {
  position: absolute;
  content: "";
  display: block;
  top: 3px;
  left: 0px;
  width: 15px;
  height: 13px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -68px -85px;
}

.footer-copyright {
  float: right;
  min-width: 190px;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.logo-academy {
  display: block;
  width: 108px;
  height: 38px;
  padding: 0px;
  margin: 0px;
}

.link-academy {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.link-academy:hover {
  color: #ffbc9e;
}

.logo-academy img {
  display: block;
  max-width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.footer-copyright p {
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
}


.modal-block {
  position: absolute;
  display: none;
  z-index: 200;
  left: 50%;
  top: 338px;
  width: 430px;
  margin-left: -239px;
  padding: 24px;
  padding-top: 17px;
  background-color: #f8f7f4;
  border-radius: 10px;
  overflow: hidden;
}

.modal-block-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-block-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-block-close::before,
.modal-block-close::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 8px;
  width: 2px;
  height: 23px;
  background-color: #000;
}

.modal-block-close::before {
  transform: rotate(45deg);
}

.modal-block-close::after {
  transform: rotate(-45deg);
}

.modal-block-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  padding: 0px;
  margin: 0px;
  margin-bottom: 18px;
}

.message-form {
  padding: 0px;
  margin: 0px;
}

.message-form input {
  float: left;
  width: 237px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 9px 14px;
  margin: 0px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}

.message-form textarea {
  width: 100%;
  min-height: 154px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 12px 14px;
  margin: 0px;
  margin-bottom: 25px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
}

.modal-block .btn {
  float: right;
  width: 140px;
  padding: 10px 24px;
  margin: 0px;
}
