.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-car-hovert {
    width: 21px;
    height: 20px;
    background-position: -12px -12px;
}

.sprite-cart {
    width: 21px;
    height: 20px;
    background-position: -57px -12px;
}

.sprite-checkbox {
    width: 20px;
    height: 20px;
    background-position: -102px -12px;
}

.sprite-cow {
    width: 48px;
    height: 49px;
    background-position: -146px -12px;
}

.sprite-fb {
    width: 32px;
    height: 32px;
    background-position: -12px -85px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -68px -85px;
}

.sprite-ice-cream {
    width: 49px;
    height: 49px;
    background-position: -107px -85px;
}

.sprite-insta {
    width: 32px;
    height: 32px;
    background-position: -180px -85px;
}

.sprite-leaf {
    width: 49px;
    height: 49px;
    background-position: -12px -158px;
}

.sprite-log-in {
    width: 21px;
    height: 19px;
    background-position: -180px -141px;
}

.sprite-log-in-hover {
    width: 21px;
    height: 19px;
    background-position: -85px -184px;
}

.sprite-rubl {
    width: 31px;
    height: 36px;
    background-position: -218px -12px;
}

.sprite-search {
    width: 17px;
    height: 17px;
    background-position: -236px -72px;
}

.sprite-search-hover {
    width: 17px;
    height: 17px;
    background-position: -236px -113px;
}

.sprite-term {
    width: 48px;
    height: 49px;
    background-position: -130px -184px;
}

.sprite-tw {
    width: 33px;
    height: 32px;
    background-position: -225px -154px;
}

.sprite-vk {
    width: 32px;
    height: 32px;
    background-position: -202px -210px;
}
